@font-face {
  font-family: pt;
  src: url(/src/fonts/Poppins-Thin.ttf);
}

@font-face {
  font-family: pl;
  src: url(/src/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: pr;
  src: url(/src/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: pm;
  src: url(/src/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: psb;
  src: url(/src/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: pb;
  src: url(/src/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: peb;
  src: url(/src/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: pbb;
  src: url(/src/fonts/Poppins-Black.ttf);
}
